<div class="card">
  <img src="https://source.unsplash.com/1600x900/?#{flat.name}" class="card-img-top" alt="<%= flat.name %>">
  <div class="card-body">
    <h5 class="card-title"><%= flat.name %></h5>
    <p class="card-text"><%= flat.description %></p>
    <%= link_to 'View', flat, class: 'btn btn-info btn-block'  %>
  </div>
</div>